<a href="https://colab.research.google.com/github/BRAYAN142002/MineriaDeDatos-LimpiezayTransformacion/blob/main/primerEjemplo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files

carga=files.upload()

In [ ]:
?- b543import pandas as pd
import io

In [ ]:
url='/content/empleados.csv'
df=pd.read_csv(url)
df

,EMPNO,ENAME,JOB,MGR,HIREDATE,SAL,COMM,HOBBY,WEIGHT
0,7839,KING,PRESIDENT,NaN,17/11/1981,5000,NaN,HIKING,70.0
1,7698,BLAKE,MANAGER,7839.0,01/05/1981,2850,NaN,READING,85.0
2,7782,CLARK,MANAGER,7839.0,09/06/1981,2450,NaN,NaN,NaN
3,7566,JONES,MANAGER,7839.0,02/04/1981,2975,NaN,READING,68.0
4,7788,SCOTT,ANALYST,7566.0,19/04/1987,3000,NaN,NaN,NaN
5,7902,FORD,ANALYST,7566.0,03/12/1981,3000,NaN,NaN,NaN
6,7369,SMITH,CLERK,7902.0,17/12/1980,800,NaN,NaN,82.0
7,7499,ALLEN,SALESMAN,7698.0,20/02/1981,1600,300.0,NaN,NaN
8,7521,WARD,SALESMAN,7698.0,22/02/1981,1250,500.0,NaN,NaN
9,7654,MARTIN,SALESMAN,7698.0,28/09/1981,1250,1400.0,READING,120.0
10,7844,TURNER,SALESMAN,7698.0,08/09/1981,1500,0.0,NaN,52.0
11,7876,ADAMS,CLERK,7788.0,23/05/1987,1100,NaN,NaN,87.0
12,7900,JAMES,CLERK,7698.0,03/12/1981,950,NaN,NaN,NaN
13,7934,MILLER,CLERK,7782.0,23/01/1982,1300,NaN,DANCING,66.0

In [ ]:
var_numericas=df.select_dtypes(include=["int16","int32","int64","float16","float32","float64"])
var_numericas

    EMPNO     MGR   SAL    COMM  WEIGHT
0    7839     NaN  5000     NaN    70.0
1    7698  7839.0  2850     NaN    85.0
2    7782  7839.0  2450     NaN     NaN
3    7566  7839.0  2975     NaN    68.0
4    7788  7566.0  3000     NaN     NaN
5    7902  7566.0  3000     NaN     NaN
6    7369  7902.0   800     NaN    82.0
7    7499  7698.0  1600   300.0     NaN
8    7521  7698.0  1250   500.0     NaN
9    7654  7698.0  1250  1400.0   120.0
10   7844  7698.0  1500     0.0    52.0
11   7876  7788.0  1100     NaN    87.0
12   7900  7698.0   950     NaN     NaN
13   7934  7782.0  1300     NaN    66.0

In [ ]:
var_numericas.columns

Index(['EMPNO', 'MGR', 'SAL', 'COMM', 'WEIGHT'], dtype='object')

In [ ]:
var_categoricas=df.select_dtypes(include=["object"])

In [ ]:
var_categoricas

     ENAME        JOB    HIREDATE    HOBBY
0     KING  PRESIDENT  17/11/1981   HIKING
1    BLAKE    MANAGER  01/05/1981  READING
2    CLARK    MANAGER  09/06/1981      NaN
3    JONES    MANAGER  02/04/1981  READING
4    SCOTT    ANALYST  19/04/1987      NaN
5     FORD    ANALYST  03/12/1981      NaN
6    SMITH      CLERK  17/12/1980      NaN
7    ALLEN   SALESMAN  20/02/1981      NaN
8     WARD   SALESMAN  22/02/1981      NaN
9   MARTIN   SALESMAN  28/09/1981  READING
10  TURNER   SALESMAN  08/09/1981      NaN
11   ADAMS      CLERK  23/05/1987      NaN
12   JAMES      CLERK  03/12/1981      NaN
13  MILLER      CLERK  23/01/1982  DANCING

In [ ]:
df.isnull()

NameError: name 'df' is not defined

In [ ]:
df.isnull().sum().sort_values(ascending=False)

COMM        10
HOBBY        9
WEIGHT       6
MGR          1
EMPNO        0
ENAME        0
JOB          0
HIREDATE     0
SAL          0
dtype: int64

In [ ]:
df.dropna()

   EMPNO   ENAME       JOB     MGR    HIREDATE   SAL    COMM    HOBBY  WEIGHT
9   7654  MARTIN  SALESMAN  7698.0  28/09/1981  1250  1400.0  READING   120.0

In [ ]:
df.fillna(value=0)

,EMPNO,ENAME,JOB,MGR,HIREDATE,SAL,COMM,HOBBY,WEIGHT
0,7839,KING,PRESIDENT,0.0,17/11/1981,5000,0.0,HIKING,70.0
1,7698,BLAKE,MANAGER,7839.0,01/05/1981,2850,0.0,READING,85.0
2,7782,CLARK,MANAGER,7839.0,09/06/1981,2450,0.0,0,0.0
3,7566,JONES,MANAGER,7839.0,02/04/1981,2975,0.0,READING,68.0
4,7788,SCOTT,ANALYST,7566.0,19/04/1987,3000,0.0,0,0.0
5,7902,FORD,ANALYST,7566.0,03/12/1981,3000,0.0,0,0.0
6,7369,SMITH,CLERK,7902.0,17/12/1980,800,0.0,0,82.0
7,7499,ALLEN,SALESMAN,7698.0,20/02/1981,1600,300.0,0,0.0
8,7521,WARD,SALESMAN,7698.0,22/02/1981,1250,500.0,0,0.0
9,7654,MARTIN,SALESMAN,7698.0,28/09/1981,1250,1400.0,READING,120.0
10,7844,TURNER,SALESMAN,7698.0,08/09/1981,1500,0.0,0,52.0
11,7876,ADAMS,CLERK,7788.0,23/05/1987,1100,0.0,0,87.0
12,7900,JAMES,CLERK,7698.0,03/12/1981,950,0.0,0,0.0
13,7934,MILLER,CLERK,7782.0,23/01/1982,1300,0.0,DANCING,66.0

In [ ]:
df['COMM']=df['COMM'].fillna(value=0)

In [ ]:
df=df.drop(columns=['EMPNO','MGR'])

In [ ]:
print(df)

     ENAME        JOB    HIREDATE   SAL    COMM    HOBBY  WEIGHT
0     KING  PRESIDENT  17/11/1981  5000     0.0   HIKING    70.0
1    BLAKE    MANAGER  01/05/1981  2850     0.0  READING    85.0
2    CLARK    MANAGER  09/06/1981  2450     0.0      NaN     NaN
3    JONES    MANAGER  02/04/1981  2975     0.0  READING    68.0
4    SCOTT    ANALYST  19/04/1987  3000     0.0      NaN     NaN
5     FORD    ANALYST  03/12/1981  3000     0.0      NaN     NaN
6    SMITH      CLERK  17/12/1980   800     0.0      NaN    82.0
7    ALLEN   SALESMAN  20/02/1981  1600   300.0      NaN     NaN
8     WARD   SALESMAN  22/02/1981  1250   500.0      NaN     NaN
9   MARTIN   SALESMAN  28/09/1981  1250  1400.0  READING   120.0
10  TURNER   SALESMAN  08/09/1981  1500     0.0      NaN    52.0
11   ADAMS      CLERK  23/05/1987  1100     0.0      NaN    87.0
12   JAMES      CLERK  03/12/1981   950     0.0      NaN     NaN
13  MILLER      CLERK  23/01/1982  1300     0.0  DANCING    66.0